<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small id='changeBgBtn' >{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-eye"></i>Preview
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.type == 'page' %}
                    <li>
                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                            {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">
                        {% endif %}
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
<script>
  let btn = document.getElementById('changeBgBtn')
  let body = document.getElementsByTagName('body')[0]
  let bgArr = [
    '../images/background1.jpg',
    '../images/background2.jpg',
    '../images/background3.jpg',
    '../images/background4.jpg',
    '../images/background5.jpg',
    '../images/background6.jpg',
    '../images/background7.jpg',
    '../images/background8.jpg',
    '../images/background9.jpg',
  ]
  
  let index = localStorage.getItem('index') || 0
  btn.onclick = function () {
    if (index>=bgArr.length-1) {
      index = 0
    }else {
      index++
    }
    localStorage.setItem('index',index)
    body.style.backgroundImage = `url(${bgArr[index]}`
  }

</script>
